.App {
  text-align: center;
  background-color: #fefffd;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #3ed1c0;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
